<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tippsy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6C47F881EF9B76F00418516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C47F9C1EF9B76F00418516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C47FA71EF9B76F00418516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
